@page "/"
@inject ProjectService ProjectService


<h3>Projects</h3>

@if (_projects != null)
{
    <ul>
        @foreach (var project in _projects)
        {
            <li>@project.Title</li>
        }
    </ul>
}
else
{
    <b>Loading</b>
}

@code {
    private List<Project>? _projects;

    protected override async Task OnInitializedAsync()
    {
        _projects = await ProjectService.GetProjectsAsync();
    }
}